.Draggable {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 100ms ease;
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0);
}

.Draggable button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-shrink: 1;
  appearance: none;
  outline: none;
  /* border: 1px solid black; */
  border: 0;
  /* background-color: #181a22; */
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transform: scale(var(--scale, 1));
  cursor: grab;
  transition: transform 250ms cubic-bezier(0.18, 0.67, 0.6, 1.22),
    box-shadow 300ms ease;
  z-index: 1;
  animation-duration: 1s;
  animation-name: bounceIn;
  padding-left: 12%;
  padding-right: 12%;
}

.dragging button {
  --scale: 1.06;
  --box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01),
    0px 15px 15px 0 rgba(34, 33, 81, 0.25);
}

.dragging {
  z-index: 2;
}

.dragging * {
  cursor: grabbing;
}

.dragOverlay button {
  animation: pop 250ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(var(--scale));
    box-shadow: var(--box-shadow);
  }
}

@keyframes bounceIn {
  from,
  33%,
  66%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  33% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  66% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
