.Selectable {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 250ms ease;
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0);
}

.Selectable button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* min-height: 54px; */
  flex-shrink: 1;
  appearance: none;
  outline: none;
  /* border: 1px solid black; */
  border: 0;
  /* padding: 8px 18px; */
  /* background-color: #181a22; */
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transform: scale(var(--scale, 1));
  transition: transform 250ms cubic-bezier(0.18, 0.67, 0.6, 1.22),
    box-shadow 300ms ease;
}

.Selectable button:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

.selected {
  background-color: #a3e635 !important;
}

.disabledSeat {
  background-color: #f87171 !important;
  cursor: default !important;
}
