.add-button {
  position: absolute;
  width: 40px;
  height: 40px;
}

.delete {
  position: absolute;
  top: 40px;
  width: 40px;
  height: 40px;
  z-index: 99;
}

/* TODO: set width according to GridUI */
.menu-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 900px;
  margin-top: 10px;
  /* margin: 10px; */
}

.menu-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
  /* margin: 10px; */
}

.multi-add-popup {
  width: 180px;
}

/* TODO: matches better with jotform's edit panel */
/* .menu-edit label {
  color: white !important;
} */

/* remove arrows/spinners: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp  */
/* Chrome, Safari, Edge, Opera */
.no-spinner input::-webkit-outer-spin-button,
.no-spinner input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner input[type='number'] {
  -moz-appearance: textfield;
}

.info-portal {
  left: 30%;
  position: fixed !important;
  top: 20%;
  z-index: 1000;
}

.addTextActive {
  cursor: text !important;
}

#select-type-text {
  font-size: 16px;
  font-weight: 700;
  padding-left: 8px;
  color: white;
}

#select-type-div {
  backgroundcolor: '#0293e2';
  margin-top: 8px;
}
